Repository thoughtbot/administrate, pull requests merged in 2020-11, with the labels that each got.

#1234 Call authorize_resource on the index action
  app/controllers/administrate/application_controller.rb
  spec/controllers/admin/orders_controller_spec.rb
  spec/example_app/app/policies/application_policy.rb
Labels: bug, security

#1776 Improve how documentation pages are rendered
  CONTRIBUTING.md
  README.md
  spec/example_app/app/controllers/docs_controller.rb
  spec/example_app/app/models/doc_page.rb
  spec/example_app/app/views/layouts/docs.html.erb
  spec/features/documentation_spec.rb
  spec/models/doc_page_spec.rb
Labels: documentation

#1788 Pass page local when rendering fields
  app/views/fields/has_one/_show.html.erb
  spec/administrate/views/fields/has_one/_show_spec.rb
Labels: bug, fields
